### THREDDS related environment variables

# TDS Content root
TDS_CONTENT_ROOT_PATH=/usr/local/tomcat/content

# The initial and maximum Java heap space memory to be allocated to the TDS
THREDDS_XMS_SIZE=512M
THREDDS_XMX_SIZE=512M

# See https://github.com/Unidata/tomcat-docker#configurable-tomcat-uid-and-gid
TOMCAT_USER_ID=1000
TOMCAT_GROUP_ID=1000

# For possible values, see https://docs.aws.amazon.com/general/latest/gr/rande.html#regional-endpoints
AWS_REGION=us-west-1

